
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

p{
    margin: 0;
    text-indent: 0; 
}

img:hover {
    cursor: pointer;
}

header{
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
    margin: 0;
    text-align: center;
}

input{
    margin-top: 3px;    
}

input:focus{
    outline: #FF7300;

}

#logo {
    font-family: 'Patua One', cursive;
    color: #FF7300;
    font-size: 20px;
    text-align: center;
}

#logo:hover{
    cursor: pointer;
}

#overallContainer{
    max-width: 1000px;
    margin: 50px;
    margin-top: 0;
    border-radius: 8px;
}

#container {
    max-width: 700px;
    display: inline-block;
    margin-left: 75px;
    margin-top: 35px;
}

#listingBox{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
}

#itemTitle {
    font-size: 10px;
}

#itemTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

#itemPrice{
    color: #0BA31D;
}

#itemViews {
    margin: 0;
    margin-bottom: 10px;
    font-weight: lighter;
}

#singleMainImage{
    width: 300px;
    display: inline-block;
}

#singleTitle{
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 9px;
    max-width: 400px;
    line-height: 1.2;
}

#singleDescription{
    max-width: 500px;
    font-weight: lighter;
}

#singlePrice{
    color: #0BA31D;
    font-size: 12px;
    margin-bottom: 2px;
}

#singleViews{
    margin-bottom: 5px;
}

#singleDescription{
    margin-bottom: 5px;
}

button{
    height: 30px;
    width: 60px;
}
